bin
conf
lib
logs
media
modules/community
modules/core
modules/site
node_modules
pids
scripts
support
test
temp
utils
themes/core/cleanslate
themes/core/cliftonc-calipso-gallery-theme
app-cluster.js
app.js
config.json
logo.js
package.json
Makefile
*.pid
*.log
*.swp
*.sock
*.gz